@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*.input {*/
/*    border:none;*/
/*    background-color:transparent;*/
/*    padding:4px 0;*/
/*    width:100%;*/
/*}*/
/*.search-container {*/
/*    margin: auto;*/
/*    background-color: white;*/
/*    display:flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 0 4px;*/
/*    border-radius: 5px;*/
/*}*/
/**{*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*li,a, button{*/
/*    font-family: Montserrat;*/
/*    font-weight: 500;*/
/*    font-size: 16px;*/
/*    color: antiquewhite;*/
/*    text-decoration: none;*/
/*}*/

/*header{*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    align-items: center;*/
/*    padding: 1px 10%;*/
/*    background-color: steelblue;*/
/*    margin-top: -15px;*/
/*    margin-bottom: -15px;*/
/*}*/

/*.logo{*/
/*    cursor: pointer;*/
/*    height: 10%;*/
/*    width: 10%;*/
/*    margin-right: auto;*/
/*}*/


/*.nav_links{*/
/*    list-style: none;*/
/*}*/

/*.nav_links li {*/
/*    display: inline-block;*/
/*    padding: 0px 20px;*/
/*}*/

/*.nav_links li a {*/
/*    transition: all 0.3s ease 0s;*/
/*}*/

/*.nav_links li a:hover {*/
/*    color: blueviolet;*/
/*}*/

/*.header-button {*/
/*    margin-left: 5px;*/
/*    padding: 9px 25px;*/
/*    background-color: rgba(0,136,169,1);*/
/*    border: none;*/
/*    border-radius: 100px;*/
/*    cursor: pointer ;*/
/*    transition: all 0.3s ease 0s ;*/
/*}*/

button:hover{
    background-color: rgba(0,136,169,0.8);
}
h1 {
    font-family: 'Gabarito', cursive;
    text-align: center;
    font-weight: normal;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.grid-item{
    background-color: white;
    border: 2px solid white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 5px;
    height: 250px;
    width: 250px;
    align-self: center;
    justify-self: center;
    transition: transform 0.4s;
}
img{
    margin: 10px;
}

.grid-item:hover {
    transform: scale(1.05);
}
.meer-gadgets{
    background-color: dodgerblue;
    color: white;
    width: 150px;
    height: 50px;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Gabarito', cursive;
    font-size: 100%;
}
.meer-gadgets:hover{
    background-color: steelblue;
}
p{
    font-family: Arial,serif;
    font-weight: bolder;
    color: #001424;
}
.price{
    font-family: Arial,serif;
    text-align: right;
    color: dodgerblue;
}
.wrapper{
    max-width: 80%;
    margin: auto;
    margin-top: 2%;
}
hr{
    border-color: cornflowerblue;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

/*form input{
   width: 400px;
   height: 45px;
   border-radius: 4px;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 40px;
   outline: none;
   border: none;
}
form button{
   background: transparent;
   border: 2px solid #fff;
   color: #fff;
   border-radius: 30px;
   padding: 10px 30px;
   font-size: 15px;
   cursor: pointer;

} */

.social-icons{
    margin-top: 30px;
}
.social-icons i{
    font-size: 22px;
    margin-top: 10px;
    cursor: pointer;
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/achtergrond.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.btn {
    margin-top: 10px;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.catalogus {background-color: #04AA6D;} /* Green */
.catalogus:hover {background-color: #46a049;}



/*product slider css*/
.p-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
  }
  
  .product-slider-heading{
    font-size: 28px;
    text-transform: uppercase;
    color: #313131;
    text-align: center;
    margin: 0px;
  }
  
  .product-box{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 10px;
    margin: 0px 20px;
    position: relative;
  }
  
  .p-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
  }
  
  .p-img a,
  .p-img{
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .p-img a img{
    width: 100%;
    height: 100%; /*of 300px */
    object-position: center;
    object-fit: contain;
  }
  
  .p-box-text{
    margin-top: 5px;
    width: 100%;
  }
  
  .product-category{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .product-category span{
    color: #acacac;
    font-size: smaller;
    margin: 5px 0px;
  }
  
  .product-title{
    color: #313131;
    font-weight:600;
    text-decoration: none;
  }
   .product-title:hover{
    color: black;
    opacity: 0.7;
    transition: all ease 0.3s;
   }
  
   .price-buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
   }
  
   .price-buy .p-price{
    font-size: 1.3rem;
    color: black;
    font-weight: 700;
   }
  
   .price-buy .p-buy-btn{
    color: #e63b3b;
    margin: 0px 5px;
    font-weight:600;
   }
  
   .price-buy .p-buy-btn:hover{
    text-decoration: underline;
   }
  
  .p-discount{
    position: absolute;
    left: 15px;
    top: 15px;
    width: 65px;
    height: 24px;
    color: #ffffff;
    background-color: #e63b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    letter-spacing: 1px;
    z-index: 100;
    border-radius: 2px;
  }
