  /* producten */
  .ProductSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .productbox {
    display: flex;
    margin-left: 300px;
    position: relative;
    border: 3px solid rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    flex: 0 0 calc(25% - 20px); /* Ensure four items per row with 20px margin */
    margin-bottom: 20px; /* Add some bottom margin */
    background-color: #fff; /* Set a white background */
    transition: transform 0.3s ease-in-out; /* Add a smooth transition */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin-top: 30px;
    flex: 0 0 calc(70% - 90px); /* Change the width as needed */
  }
  
  .product-title {
    color: #313131;
    font-weight: 600;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-bottom: 5px;
    transition: color 0.3s ease-in-out;
  }

  .price-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
  }

  .productbox:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .productbox .p-img {
    position: relative;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }

  .product-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-buy-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  margin-right: 10px;
}

.p-buy-btn:hover {
  background-color: #555;
}
  

  .p-img {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;
}

.p-img img {
  width: 100%;
  height: auto;
}

  .p-img:hover .description {
    display: block;
  }
  
    /*footer*/
  
    .footer{
      margin-top: 400px;
      width: 100%;
      padding: 100px 10%;
      background: black;
      color: #efefef;
      display: flex;
      justify-content: space-between;
  
  }
  .footer div{
    text-align: center;
  }
  
  .col-2 a{
  
    display: flex;
    text-decoration: aqua;
    color: #efefef;
    margin-bottom: 11px;
  
  }
  .col-3 a{
    display: flex;
  }
  .footer div h3{
    display: flex;
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }
  .col-1 a{
    display: flex;
    text-decoration: aqua;
    color: #efefef;
    margin-bottom: 10px;
  }
  .test {
  line-height: 200px;
  }

  /* CSS for the side menu */
  .sidebar{
    height: 100%; 
    width: 250px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: gray;
    overflow-x: hidden; 
    padding-bottom: 100px;
  }

  .sidebar {
    width: 250x; 
    height: 100%; 
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding-top: 250px;
}

/* Style for category checkboxes */
.category-label {
    color: black;
    margin-left: 5px;
}

#sort-lowest-btn{
  padding: 8px 16px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px; 
  margin-bottom: 50px;
}

/* Style for buttons */
#sort-highest-btn{
    margin-top: 50px; 
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px; 
    margin-bottom: 10px;
}

/* Style for price slider */
#price-slider {
    width: 100%;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
}

#minPrice,
#maxPrice {
    font-weight: bold;
    margin-right: 10px;
}


