@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.input {
    border:none;
    background-color:transparent;
    padding:4px 0;
    width:100%;
}
.search-container {
    margin: auto;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    border-radius: 5px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,a, button{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    color: antiquewhite;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1px 10%;
    background-color: steelblue;
    margin-top: -15px;
    margin-bottom: -15px;
}

.logo{
    cursor: pointer;
    height: 10%;
    width: 10%;
    margin-right: auto;
}


.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: blueviolet;
}

.header-button {
    margin-left: 5px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 100px;
    cursor: pointer ;
    transition: all 0.3s ease 0s ;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}
h1 {
    font-family: 'Gabarito', cursive;
    text-align: center;
    font-weight: normal;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.grid-item{
    background-color: white;
    border: 2px solid white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 5px;
    height: 250px;
    width: 250px;
    align-self: center;
    justify-self: center;
    transition: transform 0.4s;
}
img{
    margin:5px;
}

.grid-item:hover {
    transform: scale(1.05);
}
.meer-gadgets{
    background-color: dodgerblue;
    color: white;
    width: 150px;
    height: 50px;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Gabarito', cursive;
    font-size: 100%;
}
.meer-gadgets:hover{
    background-color: steelblue;
}
p{
    font-family: Arial,serif;
    font-weight: bolder;
    color: #001424;
}
.price{
    font-family: Arial,serif;
    text-align: right;
    color: dodgerblue;
}
.wrapper{
    max-width: 80%;
    margin: auto;
    margin-top: 2%;
}
hr{
    border-color: cornflowerblue;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.footer{
    margin-top: 100px;
    width: 100%;
    padding: 100px 10%;
    background: black;
    color: #efefef;
    display: flex;
    justify-content: space-between;

}

.footer div{
    text-align: center;
}

.col-2 a{

    display: flex;
    text-decoration: aqua;
    color: #efefef;
    margin-bottom: 10px;

}
.col-3 a{
    display: flex;
    text-decoration: aqua;
    color: #efefef;
    margin-bottom: 10px;

}
.footer div h3{
    display: flex;
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a{
    display: flex;
    text-decoration: aqua;
    color: #efefef;
    margin-bottom: 10px;
}


.test {
    line-height: 200px;
}

/*form input{
   width: 400px;
   height: 45px;
   border-radius: 4px;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 40px;
   outline: none;
   border: none;
}
form button{
   background: transparent;
   border: 2px solid #fff;
   color: #fff;
   border-radius: 30px;
   padding: 10px 30px;
   font-size: 15px;
   cursor: pointer;

} */

.social-icons{
    margin-top: 30px;
}
.social-icons i{
    font-size: 22px;
    margin-top: 10px;
    cursor: pointer;
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/achtergrond.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.btn {
    margin-top: 10px;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.catalogus {background-color: #04AA6D;} /* Green */
.catalogus:hover {background-color: #46a049;}




